{% block content %}
    <a href={% url 'new_candidate' %}> For candidates </a>  |<a href="{% url 'jedi_choice' %} "> For Jedi </a>
    <hr/>
    <a href="{% url 'jedi' %}"> Jedi with count of padawans</a><br/>
    <a href="{% url 'jedi_one' %}"> Jedi with at least one padawan</a>

{% endblock %}