{% block content %}
    <table border="1">
        {% for res in result %}
            <tr>
                <td>{{ res.name }} </td>
                <td>{{ res.pad }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}