{% block content %}
    <h1>Who you are?</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <select name="jedi">
            {% for choice in choices %}
                <option value="{{ choice.id }}"> {{ choice }}</option>
            {% endfor %}
        </select>
        <button type="submit">Save</button>
    </form>
{% endblock %}