{% block content %}
    <h1>New Padawan Test</h1>
    <form  action="{%  url  'new_padawan_test' %}" method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}