{% block content %}

    {{ test.candidate }}
    {{ test.question1 }}
    {{ test.question2 }}
    {{ test.question3 }}

    <form method="post" class="post-form">{% csrf_token %}
        <input type="hidden" value="{{ test.candidate }}" name="candidate">
        <button type="submit">Make Padawan</button>

    </form>
{% endblock %}